<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-5">
          <h1>Star Wars movies</h1>
        </div>
        <div class="col-12 my-3">
          <mat-form-field appearance="outline" [color]="options.value.color">
            <mat-label>Search movies or characters</mat-label>
            <input matInput [(ngModel)]="searchTerm">
            <mat-icon matSuffix class="material-icons">search</mat-icon>
        </mat-form-field>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container-fluid">
        <div class="row"  *ngIf="showResults">
            <div class="col-12 mt-4 mb-5 text-left">
                <h6 (click)="clearSearch()"><span class="spacing-less"><<</span> Back</h6>
            </div>
        </div>
        <div class="row" *ngIf="showResults">
            <div class="col-12 text-left order-first">
              <h5> Search result</h5>
              <hr>
            </div>
          </div>
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <mat-icon matSuffix class="material-icons main-page-icon" svgIcon="star_icon"></mat-icon>
          <h4 class="main-page-title">Movies</h4>
        </div>
      </div>
      <div class="row" *ngIf = "loadingFilms">
          <div class="col-xs-12 col-sm-6 col-md-4">
              <app-loading-films></app-loading-films>
          </div>
          <div class="col-sm-6 col-md-4 hidden-xs">
              <app-loading-films></app-loading-films>
          </div>
          <div class="col-4 hidden-xs hidden-sm ">
              <app-loading-films></app-loading-films>
          </div>
      </div>
      <div class="row" *ngIf = "!loadingFilms">
          <div class="col-12" >
            <app-carousel-films [films]="filteredFilms"></app-carousel-films>
          </div>
        </div>
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <mat-icon matSuffix class="material-icons main-page-icon" svgIcon="users_icon"></mat-icon>
          <h4 class="main-page-title">Character</h4>
        </div>
      </div>
      <div class="row mb-5" *ngIf = "loadingCharacters">
          <div class="col-xs-12 col-sm-6 col-md-3">
              <app-loading-characters></app-loading-characters>
          </div>
          <div class="col-md-3 col-sm-6 hidden-xs">
              <app-loading-characters></app-loading-characters>
          </div>
          <div class="col-md-3 hidden-xs hidden-sm ">
              <app-loading-characters></app-loading-characters>
          </div>
          <div class="col-md-3 hidden-xs hidden-sm">
              <app-loading-characters></app-loading-characters>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5" *ngIf = "!loadingCharacters">
              <app-carousel-characters [characters]="filteredCharacters" (indexCharacter)="loadMoreCharacters($event)"></app-carousel-characters>
         </div>
        </div>

      </div>
  </main>
