
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #FFFFFF !important;
    opacity: .8;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #FFFFFF !important;
}

// mat-input cursor color
::ng-deep .mat-input-element {
    caret-color: #FFFFFF !important;
}

::ng-deep .mat-form-field-infix{
    color: #FFFFFF !important;
}










