

<ngx-hm-carousel
[(ngModel)]="currentIndex"
show-num="auto"
autoplay="true"
autoplay-speed="2000"
infinite="true"
drag-many="true"
aniTime="200"
direction = 'right'
directionToggle = 'true'
[breakpoint]="breakpoint"
[data]="characters"
class="carousel c-accent">

<section ngx-hm-carousel-container class="content">
  <article class="item cursor-pointer"
    ngx-hm-carousel-item
    *ngFor="let character of characters; let i = index"
      [ngClass]="{'visible': true, 'animation': (currentIndex +1)!== i}">
      <div  *ngIf="character">
        <app-card-character [character]="character"></app-card-character>
      </div>
  </article>
  <ng-template #infiniteContainer></ng-template>
</section>

<ng-template #carouselContent let-character let-i="index">
  <article class="item cursor-pointer"
    [ngClass]="{'visible': true, 'animation': (currentIndex +1)!== i}">
    <div  *ngIf="character">
      <app-card-character [character]="character"></app-card-character>
    </div>
  </article>
</ng-template>

<ng-template #carouselPrev>
  <div class="click-area">
    <div class="circle-shape">
      <mat-icon matSuffix svgIcon="left-arrow"></mat-icon>
    </div>
  </div>
</ng-template>
<ng-template #carouselNext>
  <div class="click-area">
    <div class="circle-shape">
      <mat-icon matSuffix svgIcon="right-arrow"></mat-icon>
    </div>
  </div>
</ng-template>

</ngx-hm-carousel>
