input {
    height: calc(2.8em + .75rem + 2px);
}
.noresize {
    resize: none;
 }
input, textarea{
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
}

.btn-gradient{
    color: #fff;
    border-radius: 4px;
    background-image: linear-gradient(244deg, #EB5757 0%, #F2994A 100%);
    padding: 1.1em 1.5em;
    border: transparent;
    font: {
        family: "Roboto";
        style: normal;
        weight: normal;
        size: 16px;
    }    
    line-height: 22px;
    text-align: center;
    transition: background-image .15s ease-in-out;
}

.btn-gradient:hover {
    background-image: linear-gradient(to right, #EB5757 0%, #F2994A 100%);  
  }

.list-reviews{
    list-style: none;
    .comment-review{
        padding: 0px 5em 0.2em 0.8em;        
    }

    .actions-reviews{
        span{
            font-size: 12px;
            line-height: 17px;
            .reviews-icon{
                width: 14px;        
            }
            .down{
                bottom: -4px;
                cursor: pointer;
            }
            .down:hover, .up:hover{
                cursor: pointer;
            }
            .up{
                bottom: 2px;
            }
        }
    }
    
}