<form [formGroup]="reviewsForm" novalidate (ngSubmit)="reviewsForm.valid && onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control mb-2" formControlName="name" placeholder="Nome" required >
          <div *ngIf="reviewsForm.controls['name'].invalid && (reviewsForm.controls['name'].dirty || reviewsForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="reviewsForm.controls['name'].errors.required"> Nome é obrigatório.</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <input type="email" class="form-control mb-2" formControlName="email" placeholder="E-mail" required>
          <div *ngIf="reviewsForm.controls['email'].invalid && (reviewsForm.controls['email'].dirty || reviewsForm.controls['email'].touched)" class="alert alert-danger">
              <div *ngIf="reviewsForm.controls['email'].errors.required"> Email é obrigatório.</div>
              <div *ngIf="reviewsForm.controls['email'].errors.email"> Email é errado.</div>
            </div>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control pt-3 noresize mb-2" formControlName="comment" rows="5" placeholder="Comentário" required></textarea>
        <div *ngIf="reviewsForm.controls['comment'].invalid && (reviewsForm.controls['comment'].dirty || reviewsForm.controls['comment'].touched)" class="alert alert-danger">
            <div *ngIf="reviewsForm.controls['comment'].errors.required"> Comentário é obrigatório.</div>
        </div>
      </div>
    <button type="submit" class="btn btn-gradient btn-lg btn-block" #sendReviewButton [disabled]="reviewsForm.pristine || reviewsForm.invalid" >Enviar</button>
  </form>

  <div class="mt-5">
    <ul class="list-reviews">
        <li class="mb-4" *ngFor="let review of reviews; let i = index">
          <div class="content-reviews d-flex">
              <mat-icon matSuffix class="material-icons main-page-icon" svgIcon="user_icon_gray"></mat-icon> 
              <p class="comment-review  mb-0">{{review.comment}}</p>  
          </div>             
          <div class="actions-reviews ml-4 pl-3"> 
            <span class="reviews-span text-danger">{{review.dislikes}} <mat-icon matSuffix class="material-icons reviews-icon position-relative down" svgIcon="thumbs_down" (click)="addLikes(i, false)"></mat-icon></span>            
            <span class="pl-3 reviews-span text-success"> {{review.likes}} <mat-icon matSuffix class="material-icons reviews-icon position-relative up" svgIcon="thumbs_up" (click)="addLikes(i, true)"></mat-icon> </span>
           </div>
        </li>
      </ul>
    
  </div>