  <mat-card class="character-card" >
    <div class="character-content-img-card">
      <img src="../../../assets/img/user_circle.svg">
    </div>
    <mat-card-content class="mt-3 text-center">
      <h4>{{ character.name }}</h4>
    </mat-card-content>
    <mat-card-actions class="mb-1 text-center">
      <mat-icon matSuffix svgIcon="map_marker_alt"></mat-icon>
      <span class="d-block" *ngIf="planet"> {{ planet.name }}</span>
    </mat-card-actions>
  </mat-card>
