.character-card {
    background: #F5F5F5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #666666;   
        
    .character-content-img-card {
        display: flex;
        flex-direction: column;
    }
   
    .mat-card-content{
        h4{
            color: #009CDA;
        }
    }

    .mat-card-actions{
        margin-left: auto;
        font: {
            size:14px;
            weight: normal;
            style: normal;
        }
        .mat-icon {
            height: 14px;
            width: 14px;
            font-weight: bold;
        }  
    }    
     
      
  }

 
  
  