
  <ngx-hm-carousel
  [(ngModel)]="currentIndex"
  show-num="auto"
  autoplay="true"
  autoplay-speed="2000"
  infinite="true"
  drag-many="true"
  aniTime="200"
  direction = 'right'
  directionToggle = 'true'
  [breakpoint]="breakpoint"
  [data]="films"
  class="carousel c-accent">

  <section ngx-hm-carousel-container class="content">
    <article class="item cursor-pointer"
      ngx-hm-carousel-item
      *ngFor="let film of films; let i = index"
        [ngClass]="{'visible': true, 'animation': (currentIndex +1)!== i}">
        <div  *ngIf="film">
        <app-card-film [film]="film"></app-card-film>
        </div>
    </article>
    <ng-template #infiniteContainer></ng-template>
  </section>

  <ng-template #carouselContent let-film let-i="index">
    <article class="item cursor-pointer"
      [ngClass]="{'visible': true, 'animation': (currentIndex +1)!== i}">
      <div *ngIf="film">
      <app-card-film [film]="film" *ngIf="films.length > 1 "></app-card-film>
      </div>
    </article>
  </ng-template>

  <ng-template #carouselPrev>
    <div class="click-area">
      <div class="circle-shape">
        <mat-icon matSuffix svgIcon="left-arrow"></mat-icon>
      </div>
    </div>
  </ng-template>
  <ng-template #carouselNext>
    <div class="click-area">
      <div class="circle-shape">
        <mat-icon matSuffix svgIcon="right-arrow"></mat-icon>
      </div>
    </div>
  </ng-template>

</ngx-hm-carousel>
