
      <div class="animate-card">
          <div class="big-rectangle"></div>
          <div class="small-rectangle"></div>
          <div class="midle-rectangle"></div>
          <div class="bottom-rectangle"></div>
      </div>

