@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.animate-card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: #F5F5F5;
    height: 500px;    
    border-radius: 3px;  
    width: 100%;   

  }

  @include media-breakpoint-only(xl) {     
    .animate-card{
      height: 560px;    
    }
 }

  @keyframes animate {
     0% {
        background-position: -150px 0
      }
     100% {
        background-position: 150px 0
      }    
  
  }

    .big-rectangle,
    .small-rectangle,
    .midle-rectangle,
    .bottom-rectangle  {
    position:relative;
    background-color: #CCC;
    animation-name: animate; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(100deg, #E0DFDF 2.63%, rgba(204, 204, 204, 0.1) 53.31%, #E0DFDF 98.34%);
    background-size: 800px 104px;
    -webkit-background-size: 800px 104px;  
  }
  
  .big-rectangle{
    width: 100%;
    height: 125px;
    border-radius: 3px 3px 0px 0px;
}
.small-rectangle{
    width: 40%;
    height: 29px;
    margin-left: 1.5em;
    border-radius: 6px;
    top: 5%;
}
.midle-rectangle{
    width: 85%;
    height: 52px;
    margin-left: 1.5em;
    border-radius: 6px;
    top: 8%;
}
.bottom-rectangle{
    width: 10em;
    height: 48px;
    margin-left: 1.5em;
    border-radius: 6px;
    top: 45%;
}



