
.header-movies{
    height: 226px;
    text-align: center;
    background: {
        image: url(../../../assets/img/header_movies.svg);
        position: top center;
        repeat: no-repeat;
        size: cover;
     }
     display: flex;
        justify-content: center;
        align-items: center; 

     h1 {         
        color: #fff;
        font: {
            size: 42px;
            weight: normal;
        };
        font-style: normal;
        line-height: 48px;
    }      
}

.spacing-less{
    letter-spacing: -2px;
}





