
<div class="header-movies">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 *ngIf="film">{{film.title}}</h1>
        </div>
      </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row" *ngIf="film">
            <div class="col-12 mt-5 mb-1 text-left">
              <h6><a [routerLink]="['/']" ><span class="spacing-less"><<</span> Back</a></h6>
            </div>
          </div>
      <div class="row" *ngIf="film">
        <div class="col-xs-12 col-md-8 mt-5 mb-3 text-left offset-md-2">
          <p>{{film.opening_crawl}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <mat-icon matSuffix class="material-icons main-page-icon" svgIcon="users_icon"></mat-icon>
          <h4 class="main-page-title">Character</h4>
        </div>
      </div>

        <div class="row" *ngIf="film && !loadingCharacters">
          <div class="col-12 mb-5">
              <app-carousel-characters-movie [characters]="characters" ></app-carousel-characters-movie>
         </div>
        </div>
        <div class="row " *ngIf = "loadingCharacters">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <app-loading-characters></app-loading-characters>
            </div>
            <div class="col-md-3 col-sm-6 hidden-xs">
                <app-loading-characters></app-loading-characters>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm ">
                <app-loading-characters></app-loading-characters>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                <app-loading-characters></app-loading-characters>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-5 mb-5">
              <mat-icon matSuffix class="material-icons main-page-icon" svgIcon="comments_icon"></mat-icon>
              <h4 class="main-page-title">Reviews</h4>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mb-5 order-first">
                  <app-reviews></app-reviews>
             </div>
            </div>

      </div>
