/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


$fonts: (
    titles: "Ubuntu",
    general: "Roboto"
);

$colors: (
    primary: "",
    accent: "#009CDA",
    secondary: "" ,
    text: "#777777",
    titles: "#666666"
);

$gradient: linear-gradient(90deg, rgba(255,90,86,1) 30%, rgba(255,154,66,1) 100%);

@function font($font-name){
    @return map-get($fonts, $font-name)
};

@function color($color-name){
    @return map-get($colors, $color-name)
};

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: #777777;

    h1, h4, span{
        font: {
            family: font(titles);
        };
    }

    p {
        font: {
            family: font(general);
        };
    }

     header{
         background: {
            image: url('./assets/img/header_bg.png');
            position: top center;
            repeat: no-repeat;
            size: cover;
            attachment: fixed;
         }
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 300px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            background-image: $gradient;
            background-clip: text;
            color: transparent;
            font: {
                size: 42px;
                weight: normal;
            };
            font-style: normal;
            line-height: 48px;
        }

        mat-form-field {
            width: 100%;
            max-width: 600px;

            mat-label {
                font-weight: 500;
                color: #fff;
            }

            mat-icon{
                font-size: 30px !important;
                color: #fff;
            }
        }
    }

    h6, h6 a{
        color: #009CDA;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
    }
    h6:hover, h6 a:hover{
        cursor:pointer;
        color:#777777;
        text-decoration: none;
    }
        .main-page-title{
            display: inline-block;
            margin: 0;
        }
        .main-page-icon{
            position: relative;
            bottom: 3px;
            margin-right: 3px;
        }


        @include media-breakpoint-only(xs) {
            .hidden-xs{
                display: none;
            }
          }

          @include media-breakpoint-only(sm) {
            .hidden-sm{
                display: none;
            }
          }



}

/****************Carousel*******************************/
$transition_time:.2s;

.carousel {
  color:white;
  .content {
    display: flex;

    .item {
      max-width: 100%;
      padding: .5em;
      display: block;
      opacity: 0.8;
      transition: opacity ease-in-out 0.3s;

      &.animation{
        opacity: 1;
      }

      &.cursor-pointer{
          cursor:pointer;
      }
      .film-card:hover,
      .character-card:hover{
        opacity: 1;
        transform: translate(-1%, -1%) rotate(0deg) scale(1);
      }

    }


  }

  .click-area {
    width: 100px;
    text-align: center;

    .circle-shape{
        height: 3em;
        width: 3em;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        #left_icon{
            .st0{
                fill:#fff;
                position: relative;
                top: -1px;
                left: -1px;
            }
        }

        #right_icon{
            .st0{
                fill:#fff;
                position: relative;
                top: -1px;
                left: -1px;
            }
        }
    }

    .circle-shape:hover{
        background: rgba(0, 0, 0, 0.8);
       }

  }

  @include media-breakpoint-only(xs) {
    .click-area{
      display: none;
    }
 }

  .direction.right{
    right: -3.2em !important;
  }


}





