.film-card {
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    color: #777777;

    .mat-card-content,
    .mat-card-subtitle, 
    .mat-card-actions {
        font: {
            size:12px;
        }
    }
   
    .img-content-card {
        background: url(../../../assets/icon/file_image.svg) no-repeat center;        
        
        img {
            border-bottom: 5px solid transparent;
            -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
            -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
            border-image: linear-gradient(270deg, #EB5757 0.91%, #F2994A 98.98%);
            border-image-slice: 1;
            margin-bottom: 0px;
        }
    } 
    .mat-card-content{
        margin-top: 15px;
        h4{
            color: #009CDA;
        }
    }

    

    .mat-card-actions{
        margin-left: auto;
        span{  
            font-weight: bold;
            font-style: normal; 
            .mat-icon {
                height: 16px;
                width: 16px;
                font-weight: bold;
                margin-right: 10px;
            }      
        }
    }    
     
      
  }

 
  
  