<mat-card class="film-card" (click)="redirectToMovie(film.url)">
  <div class="img-content-card">
    <img mat-card-image src="../../../assets/img/film_card_bg.svg">
  </div>    
  <mat-card-content>
    <h4>{{ film.title }}</h4>
    <p>
      {{ film.opening_crawl }}
    </p>
  </mat-card-content>
  <mat-card-actions class="mb-1">
      <span class="d-block"><mat-icon matSuffix svgIcon="chair_director_icon"></mat-icon> {{ film.director }}</span>
      <span><mat-icon matSuffix class="mt-1" svgIcon="calendar_icon"></mat-icon> {{ film.release_date | date:"dd/MM/yyyy" }}</span>      
  </mat-card-actions>
</mat-card>
