.animate-card-char{
    background: #F5F5F5;
    border-radius: 3px;
    height: 230px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  @keyframes animate {
     0% {
        background-position: -150px 0
      }
     100% {
        background-position: 150px 0
      }
     
  
  }

    .circle,
    .big-rectangle,
    .midle-rectangle {
    position:relative;
    background-color: #CCC;
    animation-name: animate; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: linear-gradient(100deg, #E0DFDF 2.63%, rgba(204, 204, 204, 0.1) 53.31%, #E0DFDF 98.34%);
    background-size: 400px 104px;
    -webkit-background-size: 400px 104px;  
  }
  
  .circle{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    top: 1em;
}
.big-rectangle{
    width: 10em;
    height: 40px;
    border-radius: 6px;
    top: 2.5em;
}
.midle-rectangle{
    width: 10em;
    height: 35px;
    border-radius: 6px;
    top: 3.5em;
}


